.abono{
    background-color: #adff2f;
}

.clave {
    background-color: lightgray;
    font-weight: bold;
}

.font-big{
    font-size: 18px;
}

.font-small{
    font-size: 8px;
}

footer{
    text-align: center;
    font-size: 80%;
}

.gris{
    color: #808080;
}

.hasDatepicker{
    width: 70px;
}

.label{
    background-color: #1EA272;
}

.page-header{
    height: 20px;
}

.reporte-header {
    background-color: lightgray;
    font-weight: bold;
}

.saldo{
    color: red;
    font-size: 28px;
    float: right;
    display: inline;
}

.sumatoria{
    font-weight: bold;
    font-size: 120%;
}

#cmb_clientes{
    width: 400px;
}

#gran_total{
    float: right;
    margin: -3px 11px;
}


#nombre_cliente{
    font-size: 28px;
    float: left;
}





